body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.boton {
    background-color: red;
    font-size: large;
    font-family: Helvetica;
    
    
}
.boton:hover {
    background-color: greenyellow;
}