body {
    margin: 20px;
    height: 200vh;
    background-color: #B40406;
    justify-content: center;
    justify-content: space-between;
    align-items: center;

}


.img-cont {
    margin: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 180px;
}


img {
    height: 20rem;
    width: 20rem;
}