html {
	font-size: 14px;
	font-family: Arial, sans-serif;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
}

.tarjeta {
	box-shadow: 0 0 4px 4px #e6e6e6;
	border-radius: 4px;
	width: 200px;

}

.titulo {
	color: white;
	background-color: #666;
	padding: 8px;
	text-align: center;
	font-size: 1.5rem;
}

.body {
	font-style: italic;
	text-align: justify;
	padding: 8px;
	text-align: center;
}

.foot {
	background-color: #eee;
	padding: 8px;
	text-align: center;
}